//VARIABLES
$myFont: "Josefin Sans", sans-serif;
$mySecondFont: "Dancing Script", cursive;

$myWhite: rgb(245, 245, 245);
$myGrey: rgb(190, 190, 190);
$myBlack: rgb(30, 30, 30);

$myPurple: rgb(85, 40, 185);
$myObscurePurple: rgb(60, 30, 115);
$myDarkPurple: rgb(30, 0, 50);
$myLightPurple: rgb(75, 50, 90);

//**********************
//ALL
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: $myLightPurple;
    color: $myWhite;
}

body {
    overflow-x: hidden;
    background-color: $myDarkPurple;
    font-size: 16px;
    font-family: $myFont;
    color: $myWhite;
    font-weight: 300;
}

//**********************
//HEADER
header {
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 4em;

    background-color: rgba(30, 0, 50, 0.9);
    border-bottom: 2px solid $myWhite;
    box-shadow: 0 0 5px $myWhite;

    .menuH-btn {
        display: none;
    }

    ul {
        height: 100%;
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5em;

        will-change: opacity;

        li {
            a {
                position: relative;

                text-decoration: none;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1;
                color: $myGrey;
                padding: 0 5px 0 5px;
                padding-top: 0.2em; //Font-fix.

                transition: all 0.3s ease;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;

                    background-color: $myWhite;
                    height: 2px;
                    width: 0;

                    transition: all 0.3s ease;
                }

                &:hover {
                    color: $myWhite;
                    text-shadow: 0 0 5px $myWhite;
                }

                &:hover:after {
                    width: 100%;
                    box-shadow: 0 0 5px $myWhite;
                }
            }
        }
    }
}

//**********************
//MAIN
h2 {
    margin-bottom: 1em;

    text-align: center;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1;
    text-shadow: 0 0 5px $myWhite, 0 0 15px $myPurple, 0 0 30px $myPurple, 0 0 50px $myPurple;
}

h3,
h4 {
    text-align: center;
    font-weight: 400;
    line-height: 1;
}

//**********************
//INICIO
#inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .fix-parallax {
        //This fixes the overflow seen because of the thin line that was generated under the svg (in some resolutions).
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 99%;
        overflow: hidden;

        .parallax {
            height: 130vh;

            background-image: url(../../../assets/images/profile/background.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .fix-profile {
        //This fixes the overflow seen because of the thin line that was generated under the svg (in some resolutions).
        //This one wasn't absolutely necessary, but just in case ;)
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 99%;
        overflow: hidden;

        .profile {
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .photo {
                width: 12em;
                height: 12em;
                margin-bottom: 1em;

                background-color: $myWhite;
                border: 5px solid $myWhite;
                border-radius: 100%;
                box-shadow: 0 0 5px $myWhite, 0 0 15px $myWhite, 0 0 30px $myWhite;

                overflow: hidden;
                will-change: box-shadow;
                animation: flicker 5s infinite forwards;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                text-align: center;
                font-family: $mySecondFont;
                font-weight: 700;
                font-size: 4rem;
                line-height: 1;
                text-shadow: 0 0 5px $myWhite, 0 0 15px $myWhite, 0 0 30px $myWhite;
                margin: 0 0.5em 0.2em 0.5em;

                will-change: text-shadow;
                animation: text_flicker 5s infinite forwards;
            }

            h2 {
                margin-bottom: 0;

                font-size: 2rem;
                text-shadow: 0 0 5px $myWhite, 0 0 15px $myWhite, 0 0 30px $myWhite;

                will-change: text-shadow;
                animation: text_flicker 5s infinite forwards;
            }

            @keyframes flicker {
                30% {
                    background-color: $myGrey;
                    border: 5px solid $myGrey;
                    box-shadow: none;
                }
                100% {
                    background-color: $myWhite;
                    border: 5px solid $myWhite;
                    box-shadow: 0 0 5px $myWhite, 0 0 15px $myWhite, 0 0 30px $myWhite;
                }
            }

            @keyframes text_flicker {
                30% {
                    color: $myGrey;
                    text-shadow: none;
                }
                100% {
                    color: $myWhite;
                    text-shadow: 0 0 5px $myWhite, 0 0 15px $myWhite, 0 0 30px $myWhite;
                }
            }
        }
    }

    svg {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 20vh;
    }
}

//**********************
//SKILLS
#skills {
    padding-top: 6em;

    h3 {
        font-size: 1.5rem;
    }
}

.cv-btn {
    width: 12em;
    height: 3em;
    margin: 0 auto 6em auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $myObscurePurple;
    border: 2px solid $myGrey;
    border-radius: 50px;

    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: $myGrey;

    padding-top: 0.2em; //Font-fix.

    transition: all 0.5s ease;

    &:hover {
        cursor: pointer;
        color: $myWhite;
        background-color: $myPurple;
        border: 2px solid $myWhite;
        box-shadow: 0 0 5px $myWhite, 0 0 15px $myPurple, 0 0 30px $myPurple;
    }
}

//**********************
//PROYECTOS
#proyectos {
    padding-top: 6em;
    margin-top: 4em;

    .cards {
        width: 90%;
        margin: auto;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5em;
    }

    .card {
        position: relative;

        width: 18em;
        height: 18em;

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../../../assets/images/projects/background.jpg);
        background-position: center;
        background-size: cover;

        border: 3px solid $myWhite;
        border-radius: 100%;
        box-shadow: 0 0 5px $myWhite, 0 0 15px $myPurple, 0 0 30px $myPurple;

        will-change: box-shadow;
        transition: all 0.5s ease;

        &:hover {
            box-shadow: 0 0 5px $myWhite;

            & .cover {
                opacity: 1;

                &.top {
                    transform: translateY(100%);
                }

                &.bottom {
                    transform: translateY(-100%);
                }
            }

            & .project-logo {
                transform: scale3d(0.8, 0.8, 0.8) translateY(-120%) rotate(360deg);

                border: 5px solid $myPurple;
                box-shadow: 0 0 5px $myWhite, 0 0 15px $myPurple, 0 0 30px $myPurple;
            }
        }
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 100%;
        overflow: hidden;

        .cover {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 50%;

            background-color: rgba(30, 0, 50, 0.8);
            opacity: 0;

            will-change: opacity;
            transition: all 0.3s ease-out;

            &.top {
                top: -50%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                gap: 0.25em;

                padding-bottom: 0.5em;

                h3 {
                    font-size: 1.3rem;
                }

                h4 {
                    font-size: 1rem;
                    color: $myGrey;
                }
            }

            &.bottom {
                top: 100%;

                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 1em;

                padding-top: 1em;

                a {
                    width: 3em;
                    height: 3em;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: $myObscurePurple;
                    border: 2px solid $myGrey;
                    border-radius: 100%;

                    transition: all 0.3s ease;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        &.git {
                            width: 65%;
                            height: 65%;
                        }

                        &.web {
                            width: 50%;
                            height: 50%;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $myPurple;
                        border: 2px solid $myWhite;
                        box-shadow: 0 0 5px $myWhite, 0 0 15px $myPurple;

                        .icon img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(1%) hue-rotate(179deg)
                                brightness(115%) contrast(92%);
                        }
                    }
                }
            }
        }
    }

    .project-logo {
        width: 8em;
        height: 8em;
        overflow: hidden;

        background-color: $myWhite;
        border-radius: 100%;
        border: 5px solid $myWhite;
        box-shadow: 0 0 50px $myDarkPurple;

        will-change: transform, box-shadow;
        transition: all 0.5s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

//**********************
//CONTACTO
#contacto {
    padding-top: 6em;
    margin-top: 4em;
}

//**********************
//MEDIA QUERIES
@media screen and (max-width: 800px) {
    header {
        height: calc(50vh + 4em);
        transform: translateY(-50vh);

        display: flex;
        flex-direction: column;
        align-items: center;

        transition: all 0.5s ease;

        ul {
            width: 100%;
            height: 50vh;

            flex-direction: column;
            justify-content: space-around;
            gap: 0;

            opacity: 0;
            transition: all 0.5s ease;
        }

        .menuH-btn {
            display: flex;
            width: 2.75em;
            height: 4em;

            transition: all 0.3s ease;

            img {
                width: 100%;
                height: 100%;

                transition: all 0.3s ease;
            }

            &:hover {
                cursor: pointer;

                & img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(1%) hue-rotate(179deg)
                        brightness(115%) contrast(92%) drop-shadow(0 0 2px $myWhite);
                }
            }
        }
    }
}
